h1{
    color: green;
}
*{                  /* this is a universal selector*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
                        /* height % concept */
html{
    height: 100%;
}
body{
    border: 1px solid;
    height: 100%;
}